@charset "utf-8";
/* CSS Document */


body {
	background-image: url(images/bg_index.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	margin: 0px;
	padding: 0px;
}

.tulisan {
	margin-top: 12%;
	margin-left: 5%;
	color: white;
	font-family: 'Cabin Sketch', cursive;
}
.tulisan h3{
	font-size: 40px;
	font-family: 'Cabin Sketch', cursive;
}
.tulisan h4{
	font-size: 37px;
	font-family: 'Cabin Sketch', cursive;
}
.tulisan a{
text-decoration: none;
}
input[type="button"]{
	width: 350px;
	padding: 30px;
	margin-top: 4%;
	font-size: 50px;
	color: white;
	background: #930204;
	border: 2px solid #930204;
	border-radius: 16px 16px 16px 16px;
	font-family: 'Poppins', sans-serif;
	cursor: pointer;
	transition: all 0.9s;
	
}
input[type="button"]:hover{
	background:#FF0004;
}