@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;
	
}
.footer{
	padding-bottom: 5%;
}
.left-side p{
	color: rgba(228,57,59,0.60);
	font-family: 'Lato', sans-serif;
	font-size: 25px;
}
input[type="text"], input[type="submit"], p, textarea{
	margin-left: 5%
}
input[type="text"], input[type="email"]{
	padding: 1%;
	width: 200px;
	margin-bottom: 2%;
	
}
input[type="text"], input[type="email"], textarea{
	border: 2px solid #323232;
	border-radius: 10px 10px 10px 10px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
}
input[type="email"]{
	margin-left: 1%;
}
textarea{
	width: 427px;
	padding: 1%;
}
input[type="submit"]{
	margin-top: 2%;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	background:rgba(228,57,59,0.60);
	color: white;
	cursor: pointer;
	padding-top: 1%;
	padding-bottom: 1%;
	font-size: 15px;
	margin: 2%;
	margin-left: 5%;
	text-align: center;
	width: 30%;
	
}
.left-side {
	border: 2px solid white;
	border-bottom: none;
	border-top: none;
	border-left: none;
	width: 45%;
	float: left;
	clear: both;

	
}

.right-side {
	width: 55%;
	margin-left: 45%;
}
.right-side p{
	color: rgba(228,57,59,0.60);
	font-family: 'Lato', sans-serif;
	font-size: 25px;
	text-align: center;
}
.right-side ul{
	list-style: none;
	margin-top: 10%;
	margin-left: 0%;
}
.right-side ul li{
	float: left;
}
.right-side ul li a{
	text-decoration: none;
	color: white;
	margin-left: 30px;
	font-size: 20px;
	
}
.right-side ul li a:hover{
	text-decoration: underline;
}
.copyright{
	font-size: 30px;
	margin-top: 20px;
	text-align: center;
	margin-left: 25%;
	color: #373737;
}