@charset "utf-8";
/* CSS Document */

body{
	margin: 0px;
	padding: 0px;

}
.header{
	background:#292929;
	border: 5px solid white;
	border-top: none;
	border-left: none;
	border-right: none;
}
.gambar-header{
	width: 70px;
	float: left;
	z-index: 9;
}
.menu{
	width: 100%;
	float: left;
	
}
.menu ul{
	list-style: none;
}
.menu ul li{
	float: left;
	margin: 2%;
}
.menu ul li a{
	margin-left: 180px;
	text-decoration: none;
	font-size: 22px;
	color: white;
	padding: 10px;
	padding-left: 40px;
	padding-right: 40px;
	transition: all 0.9s;
	font-family: 'Poppins', sans-serif;

}
.menu ul li a:hover{
	background:#161616;
	border-radius: 10px 10px 10px 10px;
}