@charset "utf-8";
/* CSS Document */
/*
@import url('https://fonts.googleapis.com/css?family=Baloo');
@import url('https://fonts.googleapis.com/css?family=Baloo|Lato');
@import url('https://fonts.googleapis.com/css?family=Baloo|Lato|Poppins');
@import url('https://fonts.googleapis.com/css?family=Baloo|Fira+Sans+Extra+Condensed|Lato|Poppins');
@import url('https://fonts.googleapis.com/css?family=Rammetto+One');
@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Rammetto+One');*/

body{
	margin: 0px;
	padding: 0px;
	background: url(images/27117506-blackboard-wallpapers.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}
.label{
	font-family: 'Cabin Sketch', cursive;
	color: white;
	font-size: 40px;
	border: 2px solid rgba(228,57,59,1.00);
	border-radius: 0px 10px 10px 10px;
	width: 150px;
	background: rgba(228,57,59,1.00);	
	position: fixed;
	z-index: 99;
}
.label a{
	text-decoration: none;
	color: white;
}
.form{
	width: 32%;
	margin-left: 35%;
	margin-top: 85px;
	float: left;
	background-color: rgba(255,255,255,0.20);
	padding-bottom: 2%;
	margin-bottom: 2%;
}
.form a{
	text-decoration: none;
}
.form h2{
	float: left;
	margin-left: 10px;
	border-radius: 4px 4px 0 0;
	width: 200px;
	font-family: 'Lato', sans-serif;
	color: white;
	font-weight: 10;
	font-size: 20px;
	padding-top: 10px;
	padding-bottom: 10px;
}
.form-sign_up {
	background:rgba(228,57,59,0.60);
}
.form-sign_up:hover {
	background:rgba(228,57,59,1.00);
}
.form-sign_in{
	background: rgba(134,134,134,0.45);
}
.form-sign_in:hover{
	background: rgba(134,134,134,1.00);
}
.form p{
	float: left;
	font-family: 'Poppins', sans-serif;
	margin-left: 10px;
}
input[type="password"], input[type="submit"], input[type="text"], input[type="date"], input[type="number"]{
	float: left;
	margin-top: 2%;
	margin-left: 10px;
	padding: 10px;
	width: 85%;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	border: none;
	-webkit-border: none;
	background: none;
	-webkit-background: none;
	border-bottom: 2px solid rgba(172,170,170,1.00);
	-webkit-border-bottom: 2px solid rgba(172,170,170,1.00);
	outline: none;
	-webkit-outline: none;
	overflow: hidden;
	transition: all 0.2s;
	-webkit-transition: all 0.2s;
	
}
input[type="number"]:focus, input[type="password"]:focus, input[type="text"]:focus, input[type="date"]:focus{
	width: 92%;
	-webkit-width: 92%;
}
input[type="submit"]{
	width: 20%;
	background:rgba(228,57,59,0.60);
	text-align: center;
	color: white;
	cursor: pointer;
	margin-top: 10%;	
}
input[type="submit"]:hover{
	background:rgba(228,57,59,1.00);
}
.gender {
	
	clear: both;
	float: left;
	
}

.laki, .perempuan {
	float: left;
	font-family: 'Poppins', sans-serif;
}

input[type="radio"]{
	width: 40px;
}

select{
	overflow: hidden;
}
.agama{
	float: left;
	margin-left: 10px;
	font-family: 'Poppins', sans-serif;
	overflow: hidden;
	 
	
}
.agama select{
	clear: both;
	float: left;
	margin-top: 2%;
	padding: 10px;
	width: 420px;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	margin-left: -5px;
	overflow: hidden;

  
}
.agama select option{
	width: 92%;
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	overflow: hidden;

}